<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951260783510-97r0nhtgg4m30j8et3rde6f7qvo7q9f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951260783510-97r0nhtgg4m30j8et3rde6f7qvo7q9f7</string>
	<key>API_KEY</key>
	<string>AIzaSyAIReQS6dC0y2BLYYfxOO2tl9dZ6-orm7g</string>
	<key>GCM_SENDER_ID</key>
	<string>951260783510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markoantoljak.TikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-b24cc</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-b24cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951260783510:ios:d2c060e224a1f999e873b7</string>
</dict>
</plist>